<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Medication</title>
</head>
<body>
<h1>Delete Medication</h1>
<form id="delete-medication-form">
    <label for="medication_id">Medication ID:</label>
    <input type="text" id="medication_id" name="medication_id" required>
    <br><br>
    <input type="hidden" name="role" id="role" value="customer">
    <button type="submit">Delete Medication</button>
</form>
<script src="/js/forms/handleFormSubmit.js"></script>
</body>
</html>