<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Medications</title>
</head>
<body>
<h1>Review Medications</h1>
<form id="review-medications-form">
    <label for="user_id">Customer ID:</label>
    <input type="text" id="user_id" name="user_id" required>
    <br><br>
    <input type="hidden" id="role" name="role" value="pharmacist">
    <button type="submit">Review Medications</button>
</form>
<script src="/js/forms/handleFormSubmit.js"></script>
</body>
</html>